In [1]:
import pandas as pd
import numpy as np
from os import path
from pathlib import Path

# cat = '東証二部'

df = pd.read_csv('./moving_average.csv', encoding='sjis')

file_list = list(Path('./price_data').glob('*csv'))
file_name = path.basename(file_list[-1])
# file_name

l_df = pd.read_csv('./price_data/' + file_name, encoding='sjis')

# 変更
l_df = l_df[['SC', '株価', '市場']]
l_df.drop(l_df.index[0:2], inplace=True)
# l_df = l_df[l_df['市場'] == cat]
l_df = l_df[l_df['市場'].isnull() == False]
l_df = l_df[l_df['株価'] != '-']
l_df['株価'] = l_df['株価'].astype(str).astype(np.float64)

# 株価が1000以下のもののみ対象にする
l_df = l_df[l_df['株価'] < 1000.0]



# compare_data = pd.merge(df, l_df, on='SC', how='left')
compare_data = pd.merge(df, l_df, on='SC')
compare_data.drop(compare_data.columns[-1], axis=1,inplace=True)

compare_data['compare'] = compare_data[compare_data.columns[-2]] - compare_data[compare_data.columns[-1]]
# compare_data

tmp_data = compare_data.loc[compare_data['compare'] > .0]
tmp_data['rate'] = tmp_data['compare'] / tmp_data[tmp_data.columns[-3]]

tmp_data2 = tmp_data.sort_values(by='rate', ascending=True)[0:20]

C:\Users\ficti\anaconda3\envs\DataScience\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [2]:
tmp_data2

        SC                名称  20200618  20200619     株価  compare      rate
1510  9760       進学会ホールディングス    511.92    512.04  512.0     0.04  0.000078
340   3347              トラスト    165.68    166.04  166.0     0.04  0.000241
1540  9959      アシードホールディングス    411.96    413.12  413.0     0.12  0.000290
279   3133                海帆    526.08    526.16  526.0     0.16  0.000304
1117  7519          五洋インテックス    222.72    225.08  225.0     0.08  0.000355
597   4678             秀英予備校    420.96    421.16  421.0     0.16  0.000380
829   6193  バーチャレクス・ホールディングス    554.76    555.28  555.0     0.28  0.000504
1094  7315              IJTT    458.48    459.24  459.0     0.24  0.000523
261   3071             ストリーム     74.60     75.04   75.0     0.04  0.000533
1387  8864              空港施設    429.44    430.24  430.0     0.24  0.000558
1223  7897              ホクシン    123.80    124.08  124.0     0.08  0.000645
770   6016  ジャパンエンジンコーポレーション    619.68    624.44  624.0     0.44  0.000705
387   3538    ウイルプラスホールディングス    728.16    728.52  728.0     0.52  0.000714
729   5781              東邦金属    762.04    764.60  764.0     0.60  0.000785
212   2780               コメ兵    819.64    821.68  821.0     0.68  0.000828
652   4963             星光PMC    710.60    713.60  713.0     0.60  0.000841
620   4762           エックスネット    972.44    972.84  972.0     0.84  0.000863
1127  7555              大田花き    684.08    683.60  683.0     0.60  0.000878
1225  7902              ソノコム    740.68    741.72  741.0     0.72  0.000971
1386  8860              フジ住宅    522.28    524.56  524.0     0.56  0.001068

In [7]:
mcad = pd.read_csv('./mcad.csv', encoding='sjis')
mcad

,SC,名称,20181214,20181217,20181218,20181219,20181220,20181221,20181225,20181226,...,20200608,20200609,20200610,20200611,20200612,20200615,20200616,20200617,20200618,20200619
0,1301.0,極洋,44.219675,31.203630,16.262813,3.414448,-13.950104,-37.526890,-66.579620,-81.243957,...,44.762093,44.888044,43.597686,37.622646,30.996929,23.139209,20.947101,19.310012,17.169159,13.301891
1,1332.0,日本水産,-11.302241,-11.601259,-13.298766,-15.274889,-17.047922,-18.641632,-22.230532,-24.629464,...,10.570209,11.203410,11.811150,9.839310,7.942975,5.090371,5.190578,3.853810,3.241199,2.724297
2,1333.0,マルハニチロ,-147.356317,-145.696739,-149.516766,-153.198931,-151.944800,-147.635212,-165.311344,-171.293370,...,28.727048,30.937090,29.125162,21.071655,9.496153,-5.424780,-10.192750,-14.450359,-18.339365,-17.029163
3,1352.0,ホウスイ,-7.845222,-9.257335,-13.129989,-15.376313,-21.268718,-28.355146,-41.162403,-48.573646,...,22.021371,22.090412,20.775952,20.386834,17.376707,14.261915,11.180390,10.313891,9.437701,7.845955
4,1376.0,カネコ種苗,-22.908448,-23.964489,-25.795125,-28.371320,-31.262968,-34.608128,-38.031166,-43.151425,...,-2.052424,-2.964405,-3.086734,-4.264208,-5.138135,-4.647472,-2.614646,-0.114686,2.323911,6.361856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df_e = pd.DataFrame()
df_e['SC'] = mcad['SC']
df_e['名称'] = mcad['名称']
df_e['latest_signal'] = mcad.loc[:, mcad.columns[-9]:mcad.columns[-1]].mean(axis=1)
# df_e
df_e['latest_mcad'] = mcad[mcad.columns[-1]]

In [11]:
df_e

          SC      名称  latest_signal  latest_mcad
0     1301.0      極洋      27.885853    13.301891
1     1332.0    日本水産       6.766344     2.724297
2     1333.0  マルハニチロ       2.799294   -17.029163
3     1352.0    ホウスイ      14.852195     7.845955
4     1376.0   カネコ種苗      -1.571613     6.361856
...      ...     ...            ...          ...
3693     NaN     NaN            NaN          NaN
3694     NaN     NaN            NaN          NaN
3695     NaN     NaN            NaN          NaN
3696     NaN     NaN            NaN          NaN
3697     NaN     NaN            NaN          NaN

[3698 rows x 4 columns]

In [12]:
df_e = df_e[df_e['latest_mcad'] > df_e['latest_signal']]

In [13]:
df_e

          SC             名称  latest_signal  latest_mcad
4     1376.0          カネコ種苗      -1.571613     6.361856
6     1379.0            ホクト       9.522538    12.078497
14    1407.0   ウエストホールディングス      35.333162    39.136364
17    1417.0  ミライト・ホールディングス      28.138942    32.425580
30    1446.0         キャンディル      14.424091    26.842618
...      ...            ...            ...          ...
3562  9876.0           コックス      37.655351    43.278631
3566  9885.0           シャルレ       4.031942     5.140041
3568  9888.0            UEX       5.735618     5.825353
3575  9902.0             日伝      57.382864    64.728415
3619  9989.0         サンドラッグ      -8.478780    -6.062625

[485 rows x 4 columns]